@{
    ViewData["Title"] = "Crashes";
}

@model CrashViewModel
@*<h2>@ViewBag.Calc</h2>*@

<<main style="padding-top: 80px;">
    <section id="services">
        <div class="container" data-aos="fade-up">
            <div class="section-header">
                <h3 class="section-title">@ViewData["Title"]</h3>
                <p class="section-description">This database contains a record of every crash that took place between 2018 - 2019. <br />You can filter the database by crash severity by selecting an option on the left of the table.</p>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div id="types" class=col-md-2>

                <vc:types></vc:types>
            </div>

            <div class="col-md-10">
                <table class="table table-sm table-striped table-bordered table-hover">

                    <thead>
                        <tr>
                            <th>Crash ID</th>
                            <th>Time/Date</th>
                            <th>Route</th>
                            <th>Mile Marker</th>
                            <th>City</th>
                            <th>Severity</th>

                        </tr>
                    </thead>

                    <tbody>

                        @foreach (Crash c in Model.Crash)
                        {
                            string title;
                            if (c.crash_severity_id == 1)
                            {
                                title = "No Apparent Injury";
                            }
                            else if (c.crash_severity_id == 2)
                            {
                                title = "Possible Injury";
                            }
                            else if (c.crash_severity_id == 3)
                            {
                                title = "Suspected Minor Injury";
                            }
                            else if (c.crash_severity_id == 4)
                            {
                                title = "Suspected Serious Injury";
                            }
                            else
                            {
                                title = "Fatal Injury";
                            }

                            <tr>
                                <td>@c.crash_id</td>
                                <td>@c.crash_datetime</td>
                                <td>@c.route</td>
                                <td>@c.milepoint</td>
                                <td>@c.location.city</td>
                                <td>@title</td>

                            </tr>
                        }
                    </tbody>

                </table> 
                <div page-blah="@Model.PageInfo" page-action="Crash" page-class="btn" page-class-normal="btn-outline-dark"
                              page-class-selected="btn-primary" page-classes-enabled="true" class="btn-group pull-right m-1"> <br /> </div>


            </div>
        </div>
       

        @*<a asp-action="Crash" asp-route-pageNum="1">1</a>*@


    </div>
</main>
